<a href="https://colab.research.google.com/github/karthikkumbha/Python-nwe/blob/module-2/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
karthik=['Red','Green','White','Black', 'Pink', 'Yellow']
karthik=[r for (g,r) in enumerate (karthik) if g not in (0,4,5)]
print(karthik)

['Green', 'White', 'Black']

In [ ]:
##Create a function which accepts two inputs from the user and compute n
def nCr(d,o):
  return(fact(d)/(fact(o)
                 *fact(d-o)))
d=int(input(""))
o=int(input(""))
def fact(d):
    res=1
    for i in range(2,d+1):
      res=res*i
    return res  
print(int(nCr(d,o)))

5
5
1

In [ ]:
#Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
#Explanation : (4, 5) of len = 2 is removed.
karthik=[(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
print("original list:"+str(karthik))
k = int(input("Enter the length of tuples you want to eliminate: "))
fin=[]
for i in range(0,len(karthik)):
   if len(karthik[i]) !=k:
    fin.append(karthik[i])

print("Filtered list:"+str(fin))

original list:[(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Enter the length of tuples you want to eliminate: 2
Filtered list:[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
#x Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
#Explanation : (4, 5) of len = 2 is removed.
K=int(input("enter the number: "))
d=dict()
for x in range(1,k+1):
   d[x]=x*x
print(d)

enter the number: 3
{1: 1, 2: 4}

In [2]:
#Create a function which accepts two inputs from the user and

def nCr (a,b):
return(fact(a)//(fact(b)
*fact(a-b)))

a=int(input(""))
b=int(input(""))
def fact(a):
res=1
for i in range(2,a+1):
res =res*i
return res
print(int(nCr(a,b)))

IndentationError: ignored

In [3]:
a = [11, 12, 13, 14, 15 ]
b = [11, 17, 14, 18 , 19 ]
diff_a_b = list(set(a) - set(b))
diff_b_a = list(set(b) - set(a))
total_diff = diff_a_b + diff_b_a
print(total_diff)

[12, 13, 15, 17, 18, 19]

In [4]:
my_list = [4, 5, 7, 9, 12]
print("The list is ")
print(my_list)
print("The resultant tuple is :")
my_result = [(val, pow(val, 2)) for val in my_list]
print(my_result)

The list is
[4, 5, 7, 9, 12]
The resultant tuple is :
[(4, 16), (5, 25), (7, 49), (9, 81), (12, 144)]

In [5]:
Dict = {'a':6,'b':7,'c':8,'d':9}
print(Dict)
if 'c' in Dict:
del Dict['c']
print(Dict)

IndentationError: ignored

In [6]:
dictionary = {'x':450, 'y':7895, 'z': 560}
key_max = max(dictionary.keys(), key=(lambda k: dictionary[k]))
key_min = min(dictionary.keys(), key=(lambda k: dictionary[k]))
print('Maximum Value: ',dictionary[key_max])
print('Minimum Value: ',dictionary[key_min])

Maximum Value:  7895
Minimum Value:  450

In [7]:
str_1="Rabbit"
print(str_1.count('b'))
str_2="I have to go to a doctor and get myself checked."
print(str_2.count('to'))

2
3

In [8]:
##Program for replacing one substring by another For example - Rabbit - Replace "bb" and "
string='Rabbit'
new_string=string.replace('bb','cc')
print(new_string)

Raccit

In [10]:
#elements of string using locati
#x Program to perform operations on string using unicodes ,splitting of
#string,accessing

string=input("enter a string: ")
print(string.split())
print(string[4:19])

enter a string: kgf movies is blockbaster in south india
['kgf', 'movies', 'is', 'blockbaster', 'in', 'south', 'india']
movies is block

In [12]:
##x Program to Acronym generator for any user input (ex-input is Random memory access
#then output should be RMA).Example - Random number (RN)
string=input("enter some string:")
a=string.split()
for i in a:
print (i[0],end='')

IndentationError: ignored

In [13]:
##Python function that accepts a string and calculates the number of uppercase
#letters and lowercase letters.
string="I Love hollywood movies and I enjoy it."
count_1=0
count_2=0
for i in string:
if i.isupper():
count_1+=1
elif i.islower():
count_2+=1
else:
pass
print("No.of uppercase alphabets are: ",count_1)
print("No.of lowercase alphabets are: ",count_2)

IndentationError: ignored

In [17]:
##Program to count the number of strings where the string length is 2 or more and
#the first and last character are same from a given list of strings
Sample_List = ['abc', 'xyz', 'aba', '1221','amma','24','in','cds2t54sc']
count=0
for i in Sample_List:
if len(i)>=2:
if i[0]==i[len(i)-1]:
print(i)
count+=1
print(count)

IndentationError: ignored