<a href="https://colab.research.google.com/github/karthikkumbha/Python-nwe/blob/module-3/module_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##read an entire text file.
import pandas
dhanush = {'companies':['Amazon','Wipro','Adantel','Adobe'],'location':['vjy','Vsp','pmr',
x = pandas.DataFrame(karthik)
print(x)

In [ ]:
##read the first n lines of a file.
import pandas as pd
dhanush = {'companies':['Amazon','Wipro','Adantel','Adobe'],'location':['nlr','Vsp','vjw',
x = pd.DataFrame(karthik)
print(x)

In [ ]:
##append text to a file and display the text.
import pandas as pd
marks = [98,32.9,41,28]
karthik = pd.Series(marks)
print(karthik)

In [ ]:
##Read numbers from a file and write even and odd numbers to separate files.
import pandas as pd
marks = [98,32.9,41,28]
karthik = pd.Series(marks)
print(karthik)
print(karthik[1])

In [ ]:
##x Count characters, words and lines in a text file.
import pandas as pd
marks = [28, 29.5, 15]
karthik = pd.Series(marks, index = ["mama", "pranav", "yeshwanth"])
print(karthik)

In [ ]:
##Write a Pandas program to read specific columns from a given excel file.
import pandas as pd
marks = [28, 29.5, 15]
karthik = pd.Series(marks, index = ["sai", "srikanth", "ravi"])
print(karthik)
print(mymarks["sai"])

In [ ]:
##x To write a list to a file.
import pandas as pd
karthik = {"d1": 12, "d2": 10, "d3": 8}
x = pd.Series(karthik)
print(x)

In [ ]:
##Print only limited data as per the labels:
import pandas as pd
karthik = {"d1": 12, "d2": 10, "d3": 8}
x = pd.Series(karthik,index=["d1","d2"])
print(x)

In [ ]:
##Given a dataframe, select rows based on a condition.
import pandas as pd
karthik = {
"Employees": ["sai", "bhanu", "vivek"],
"Publications": [50, 40, 45]
}
x = pd.DataFrame(karthik)
print(x)

In [ ]:
##Given a dataframe, select rows based on a condition.
import pandas as pd
empPublications = {
"Employees": ["Raman", "Ranjan", "Ramani"],
"Publications": [50, 40, 45]
}
myvar = pd.DataFrame(empPublications,index=["2001","2002","2003"])
print(myvar)
print(myvar.loc["2001"])

In [ ]:
##x Given a CSV file or excel file to read it into a dataframe and display it.
import pandas as pd
df = pd.read_csv('karthik.csv')
print(df)

In [ ]:
##Given is a dataframe showing the name, occupation, salary of people. Find the average sa
import pandas as pd
df = pd.read_csv('karthik.csv')
print(df.to_string())

In [ ]:
##x Given a dataframe, select rows based on a condition.
import pandas as pd
pd.options.display.max_rows = 9999
df = pd.read_csv(‘dhanush.csv’)
print(df)